body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(137, 213, 216);
  color: rgba(0, 0, 0, 0.67);
  font-size: 13px;
}

.list {
  font-size: 14px;
  list-style: none;
}

li {
  margin-bottom: 25px;
}

#popup {
  min-width: 600px;
  width: 600px;
  min-height: 10px;
  height: 400px;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.image-preview {
  max-height: 100px;
}

